<!DOCTYPE html>
<html>
    <head><title>RDOC</title></head>
    <body>

        <h1>RDOC Login</h1>
        <form method="post" action="/result">
            <label for="sele">Search Type</label>
          <select name="sele" id="sele">
            <option value="Machine Name (VM)">Machine Name (VM)</option>
            <option value="IP Address (Private)">IP Address (Private)</option>
          </select>
        <p>Key Word<br><input type="text" name="noun1"></p>


        <input type="submit">
        </form>
    </body>
</html>